@media screen and (max-width: 1200px) {
  /* WELCOME SECTION */
  #content-left {
    max-width: 55%;
  }
  #welcome-pic {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  /* NAV BAR AND HEADER */
  #nav {
    background-color: #000;
    padding: 1rem 0.8rem !important;
  }
  #links-items {
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    width: 100%;
    right: 0;
  }
  #links-items li {
    padding: 1rem 3rem;
    background-color: black;
    opacity: 0.9;
    margin-right: 0 !important;
  }
  #reservation {
    padding: 0.5rem 1.2rem;
  }
  #links-items li:not(:first-child) {
    border-top: 1px solid rgb(82, 82, 82);
  }
  #nav-icon {
    display: inline-block;
    color: white;
    padding: 0.5rem;
  }
  #nav-icon:hover {
    cursor: pointer;
  }
  #header {
    height: 500px;
  }
  .header-logo {
    width: 400px;
    height: 400px;
  }
  /* WELCOME SECTION */
  #content-left {
    max-width: 60%;
  }
  #welcome-pic {
    width: 300px;
  }
  /* AGENCY */
  .agency {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  /* WELCOME SECTION */
  #welcome {
    flex-direction: column;
    width: 100%;
  }
  #content-left {
    max-width: 90%;
    text-align: center;
  }
  #welcome-pic {
    width: 100%;
  }
  .content-left-des,
  #content-left-title,
  #content-left-welcome {
    width: 100%;
  }
  /* AGENCY */
  .agency {
    grid-template-columns: 1fr;
    gap: 0;
  }
  /* SERVICES */
  .use-template .head .description {
    max-width: 100%;
  }
  .agency-items > .dishes {
    margin-top: 3rem;
  }
  .agency-items > .dishes-description {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
  /* MENU */
  .content-body-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .content-body-button {
    transform: scale(0.8);
  }
  .content-body-data {
    grid-template-columns: 1fr;
  }
  /* REVIEW */
  .review-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 390px) {
  /* HEADER */
  .header-logo {
    width: 300px;
    height: 300px;
  }
}
