/* NAVIGATION BAR */

#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 2rem;
  z-index: 1;
  transition: all 0.5s ease-in;
}

.nav-content {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  max-width: 1190px;
}

#reservation,
#links-items > li {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}

#links {
  display: flex;
}

#links-items {
  display: flex;
}

#links-items li:not(:last-child) {
  margin-right: 1rem;
}

#links-items li:hover > a {
  cursor: pointer;
  color: #bfbcbd;
}

.links-items-btn a {
  color: #fff;
  text-decoration: none;
}

#reservation {
  background-color: #d0ae5e;
  padding: 0.2rem 0.5rem;
  border: none;
  font-size: 0.7rem;
}

#reservation:hover {
  cursor: pointer;
}

#reservation:active {
  opacity: 0.5;
}

#nav-icon {
  display: none;
}

/* HEADER */
#header {
  background-image: url('../assets/img/hero-bg40.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.9;
  height: 800px;
  transition: all 0.5s ease;
  display: flex;
  overflow: hidden;
}

.header-logo {
  margin: 0 auto;
  width: 800px;
  height: 800px;
  transition: all 1s ease;
}

/* WELCOME SECTION */

#welcome {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1190px;
  padding-top: 6rem;
}

#content-left {
  max-width: 40%;
}

#welcome-pic {
  width: 600px;
  transition: all 0.5s ease;
}

#content-left-welcome {
  color: #d0ae5e;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

#content-left-title {
  font-size: 2rem;
  margin-top: 1rem;
}

.content-left-des {
  font-weight: 300;
  margin-top: 0.5rem;
}

#welcome-btn {
  background-color: #d0ae5e;
  border: none;
  border-radius: 2rem;
  padding: 0.6rem 1.8rem;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  margin-top: 2rem;
}

#welcome-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* IMAGE SECTION */

.agency-items > img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}

.agency-items > img:hover {
  cursor: zoom-in;
  transform: scale(1.2);
  opacity: 0.8;
}

.preview-window {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.close-window-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.close-window-btn:hover {
  cursor: pointer;
}

.preview-window > img {
  width: 60%;
}

/* SERVICES */

.services {
  padding-bottom: 6rem;
}

.agency-items > .dishes {
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.agency-items > .dishes-description {
  margin-top: 0.5rem;
  font-weight: 300;
}

/* MENU */

.menu {
  background-image: url('../assets/img/menu/restaurant-menu-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
}

.content-body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 3rem;
  width: 100%;
  max-width: 1200px;
}

.content-body-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.content-body-button > img {
  opacity: 0.5;
  transition: all 0.1s ease;
  cursor: pointer;
}

.content-body-button > img:hover {
  opacity: 1;
}

.content-body-button > p {
  text-transform: uppercase;
  color: #d0ae5e;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.content-body-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

.content-body-data-item {
  display: flex;
  text-align: left;
  opacity: 0.5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 0.5rem;
}

.data-item-head {
  margin-bottom: 1rem;
}

.data-item-des {
  font-size: 0.9rem;
  font-weight: 300;
}

/* CAFE REVIEW */

.review {
  background-color: #fbf9f3;
}

.review-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

.review-item {
  background-color: #fff;
  border: 1px solid rgb(255, 230, 230);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-item > i {
  font-size: 3rem;
  color: #d0ae5e;
}

.review-text {
  margin-top: 1rem;
  font-weight: 300;
}

.review-vote {
  display: flex;
  margin-top: 1rem;
}

.review-vote > i {
  color: #d0ae5e;
  font-size: 1.2rem;
  margin: 0 0.2rem;
}

.review-name {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.review-company {
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}

/* RECOMMENDED */

.recommended {
  background-color: #242526;
  color: #fff;
}

.carousel {
  margin-top: 3rem;
}

.slider-item {
  height: 30rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.slider-item:hover {
  cursor: e-resize;
}

.slider-left {
  background-color: #fff;
  color: rgb(39, 39, 39);
  padding: 4rem;
  text-align: left;
  user-select: none;
}

.slider-left-title {
  font-size: 1.3rem;
  color: #d0ae5e;
  text-transform: capitalize;
  font-weight: 600;
}

.slider-left-des {
  margin-top: 0.2rem;
}

.slider-left-des,
.slider-left-content {
  font-size: 0.9rem;
}

.slider-left-content {
  margin-top: 1.5rem;
}

.slider-left-signature {
  font-family: 'great vibes';
  text-transform: capitalize;
  font-size: 2rem;
  color: #d0ae5e;
  margin-top: 1rem;
}

.slider-right {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.prev-btn,
.next-btn {
  padding: 0.2rem;
  text-align: center;
  display: inline-flex;
  border-radius: 0.4rem;
  border: 1px solid #fff;
  margin: 0 0.2rem;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  align-content: center;
  justify-content: center;
  opacity: 0.2;
}

.prev-btn:hover,
.next-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* BLOGS */

.blog-list {
  color: #fff;
}

.blog-item {
  background-color: #242526;
}

.blog-item:hover img {
  transform: scale(1.2);
  opacity: 0.8;
}

.blog-item-head {
  overflow: hidden;
}

.blog-item-head > img {
  transition: all 0.5s ease;
  width: 100%;
}

.blog-item-head > img:hover {
  cursor: pointer;
}

.blog-item-content {
  padding: 1.5rem;
}

.blog-content-address {
  background-color: #d0ae5e;
  width: 100%;
  padding: 0.5rem 0;
  border: 0;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: #fff;
}

.blog-content-address:hover {
  cursor: pointer;
  background-color: #cc9e31;
}

.blog-content-dish {
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}

.blog-content-des {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  opacity: 0.5;
}

/* CONTACT */

.contact {
  background-color: #fbf9f3;
}

.contact-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 3rem;
}

.contact-item {
  background-color: #fff;
  padding: 3rem 2rem;
  border: 1px solid rgb(255, 230, 230);
}

.contact-item > i {
  font-size: 2.5rem;
  color: #d0ae5e;
}

.contact-item-title {
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 1rem;
}

.contact-item-des {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
}

/* BOOKING */

.booking {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../assets/img/hero-bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.submit-form {
  margin: 0 auto;
  align-items: center;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 80%;
  row-gap: 1rem;
}

.submit-form input,
.submit-form > textarea {
  width: -webkit-fill-available;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.2rem;
  font-weight: 500;
  font-family: montserrat, monospace;
}

.submit-form > textarea {
  resize: vertical;
  height: 10rem;
}

.submit-form input:focus,
.submit-form > textarea:focus {
  outline: none;
}

.submit-form button {
  margin-top: 0.5rem;
  padding: 0.8rem 2.2rem;
  border: none;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  background-color: #d0ae5e;
  color: #fff;
}

.submit-form button:hover {
  background-color: #cc9e31;
  cursor: pointer;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
  font-size: 0.8rem;
}

.footer-left {
  opacity: 0.8;
}

.footer-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
}

.footer-right i {
  font-size: 1.2rem;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.footer-right i:hover {
  cursor: pointer;
  opacity: 0.8;
}
